.container section.filters {
    background-color: white;
    width: 100%;
    height: 70px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    align-items: center;
    justify-content: flex-start;
}

.filters button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    border-style: none;
    border-radius: 4px;
    float: right;
    font-size: 18px;
    height: 48px;
    margin: 12px 30px;
    min-width: 150px;
    width: 20%;
}

.filters button:hover {
    opacity: 0.9;
}

.filters div.locations {
    border-right: 1px solid #DDDDDD;
}

.filters > div.amenities,
.filters > div.locations {
    width: 25%;
    height: 100%;
    float: left;
    margin-left: 30px;
    position: relative;
}

.filters div.locations h3,
.filters div.amenities h3 {
    margin: 0;
    font-weight: 600;
    padding-top: 15px;
}

.filters div.locations h4,
.filters div.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.filters div.locations ul.popover,
.filters div.amenities ul.popover {
    width: 103%;
    background-color: #FAFAFA;
    margin-top: 20px;
    margin-left: -30px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 50px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    list-style: none;
}

.filters div.amenities ul.popover {
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.filters div.amenities ul.popover li {
    padding-top: 5px;
}

.filters div.locations ul.popover li > ul > li {
    list-style: none;
    margin-bottom: 5px;
    margin-left: -25px;
}

.filters div.locations ul.popover h2 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 2px;
}

.filters div.locations:hover ul.popover,
.filters div.amenities:hover ul.popover {
    visibility: visible;
}
